.header {
  width: 100%;
  min-height: 70px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.95);
  padding-top: 33px;
}

.header__wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.header__logo {
  display: inline-block;
  margin-left: 20px;
}

.main-nav {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.submenu-products,
.submenu-company {
  background-color: #444444;
}

.main-nav__list,
.submenu-products__list,
.submenu-company__list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.main-nav__item,
.submenu-products__item,
.submenu-company__item {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px 0;
}


.main-nav__link,
.submenu-products__link,
.submenu-company__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 auto;
  white-space: nowrap;
}

.main-nav__link,
.submenu-products__link,
.submenu-company__link {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc107), to(#ffc107));
  background-image: -o-linear-gradient(#ffc107, #ffc107);
  background-image: linear-gradient(#ffc107, #ffc107);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 4px;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.submenu-products__link,
.submenu-company__link {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 96 96' style='enable-background:new 0 0 96 96;' xml:space='preserve' fill='%23ffffff'%3E%3Cg id='XMLID_2_'%3E%3Cpolygon id='XMLID_4_' class='st0' points='27,31 48,52 69,31 75.5,37.5 48,65 20.5,37.5 '/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 0 8px;
}

.main-nav__link:hover {
  background-size: 100% 4px;
}

.submenu-products__link:hover,
.submenu-company__link:hover {
  background-size: 100% 14px;
}

@media(max-width: 1249px) {
  .main-nav--closed {
    display: none;
  }

  .header__toggle {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    display: block;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  
  .header__toggle--open::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 3;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 18' style='enable-background:new 0 0 24 18;' xml:space='preserve' fill='%23ffffff'%3E%3Crect y='10' width='18' height='2'/%3E%3Crect y='5' width='18' height='2'/%3E%3Crect width='18' height='2'/%3E%3C/svg%3E%0A");
    background-size: 24px 20px;
    background-repeat: no-repeat;
  }
  
  .main-nav__submenu--closed {
    display: none;
  }

}

@media(min-width: 730px) {
  .header__logo {
    margin-left: 30px;
  }
}

@media(min-width: 1250px) {
  .header {
    padding-top: 23px;
  }

  .header__toggle {
    display: none;
  }

  .main-nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .logo__image {
    width: 131px;
    height: auto;
  }

  .header__wrapper,
  .main-nav__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-nav__item {
    padding: 10px 20px 0;
    width: auto;
  }

  .main-nav__item--products,
  .main-nav__item--company {
    position: relative;
  }

  .main-nav__link--products,
  .main-nav__link--company {
    background: none;
  }

  .main-nav__submenu {
    display: none;
  }

  .main-nav__item--products:hover .main-nav__submenu,
  .main-nav__item--company:hover .main-nav__submenu {
    display: block;
  }

  .submenu-products,
  .submenu-company {
    position: absolute;
    top: 43px;
    left: 0;
    background: #333;
    padding: 20px;
    border-radius: 0 20px 20px;
  }

  .submenu-products__item,
  .submenu-company__item {
    display: inline-block;
    padding: 10px 20px 0;
  }
  
  .main-nav__item--products:hover,
  .main-nav__item--company:hover {
    background: #333;
    border-radius: 20px 20px 0 0;
  }
}